@media screen and (max-width: 1500px) {
  .container {
    padding: 0 210px;
  }
  .category-logo {
    margin-left: -50px;
  }

  .category-logo li {
    width: calc(100% / 7 - 50px);
    margin-left: 50px;
  }

  .slide img {
    max-width: 500px;
  }

  .slider-text {
    /* height: 60px; */
    padding: 15px;
  }

  .slider-text h3 {
    font-size: 14px;
  }

  .slider-text p {
    font-size: 12px;
  }
  /* all product */
  .allProduct-main {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .allproduct {
    max-width: 350px;
  }

  .addstore-flex {
    margin-top: 0;
  }

  .btn-addstore {
    margin-top: 0;
    padding: 8px;
  }

  .addstore2 {
    margin-left: auto;
  }

  .btnStore {
    width: 20px;
    height: 20px;
  }

  .item-text h3 {
    font-size: 14px;
  }

  .addstore-price p {
    font-size: 14px;
  }
  /* all product end */
}

@media screen and (max-width: 1298px) {
  .container {
    padding: 0 160px;
  }

  .item {
    width: 240px;
  }

  .carousel-image {
    padding-right: 0px;
  }

  .addstore {
    margin-left: auto;
    padding-right: 0px;
  }

  .slider-text {
    /* height: 60px; */
    padding: 15px;
  }
  .slider-text h3 {
    font-size: 14px;
  }
  .slider-text p {
    font-size: 12px;
  }
  .allProduct-main {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  /* all product */
  .allproduct {
    max-width: 300px;
  }

  .allProduct-name {
    font-size: 28px;
  }

  .allProducts-page {
    font-size: 15px;
  }

  .addstore-flex {
    margin-top: 0;
  }

  .btn-addstore {
    margin-top: 0;
    padding: 8px;
  }

  .addstore2 {
    margin-left: auto;
  }

  .btnStore {
    width: 20px;
    height: 20px;
  }

  .item-text h3 {
    font-size: 14px;
  }

  .addstore-price p {
    font-size: 14px;
  }
  /* all product end */
  /* What client says about us */
  .comment-text-container {
    height: 170px;
  }

  .comment {
    padding: 35px;
  }

  .comment-heading {
    font-size: 30px;
  }

  .comment-name {
    font-size: 18px;
  }

  .comment-text {
    font-size: 18px;
  }

  .comment-work {
    font-size: 15px;
  }
  /* What client says about us end */
}

@media screen and (max-width: 1024px) {
  /* header tablet */
  /* header-search */
  .container {
    padding: 0 160px;
  }

  .item {
    max-width: 200px;
  }

  .header-search {
    display: flex;
    padding: 14px 0px;
  }

  .head-button button:not(:nth-last-child(1)) {
    margin-right: 8px;
  }

  .logotip {
    width: 25px;
    height: 25px;
  }

  .logo h2 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 6px;
  }

  .input-search {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 200px;
  }

  .input-search input {
    padding: 6px 10px;
    height: 30px;
  }

  .input-search input::placeholder {
    font-size: 11px;
  }

  .headerSearch-img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  .btn-search {
    padding: 4.5px;
    border-end-end-radius: 6px;
    border-start-end-radius: 6px;
  }

  .btn-addcart {
    padding: 6px 10px;
  }

  .btn-addcart p {
    margin-left: 5px;
    font-size: 11px;
  }

  .btn-addcart-svg {
    width: 18px;
    height: 18px;
  }

  .heart {
    padding: 6px;
  }

  .heart-svg {
    width: 18px;
    height: 18px;
  }

  .profile-svg {
    width: 18px;
    height: 18px;
  }

  .profile {
    padding: 6px;
  }

  .navbar-telephone {
    display: block;
    background-color: #fff;
    border: none;
    text-decoration: none;
  }

  .btn-telephone {
    border: none;
    fill: rgb(2, 159, 174);
  }

  .contact-number,
  .contact-name {
    display: none;
  }
  /* header-search-end */

  /*  Navbar*/
  .navbar {
    padding: 10px 0px;
  }

  .all-category {
    padding: 13px 15px;
  }

  .all-category p {
    font-size: 12px;
  }

  .nav {
    margin-left: 18px;
  }

  .nav li {
    font-size: 12px;
  }

  .nav li:not(:nth-last-child(1)) {
    margin-right: 18px;
  }

  .menu-svg {
    background-color: #fff;
    width: 16px;
    height: 20px;
  }

  .contact-name {
    font-size: 12px;
  }

  .contact-number {
    font-size: 12px;
  }

  .btn-shopping {
    margin-bottom: 140px;
    padding: 12px 18px;
  }

  .btn-shopping p {
    font-size: 14px;
  }

  .headerinfo-text {
    font-size: 12px;
    margin-top: 80px;
  }

  .headerinfo-name {
    font-size: 38px;
    max-width: 500px;
  }

  .btn-shopping p {
    margin-right: 10px;
  }

  /* navbar end */

  /* Carousel */
  .section2 {
    margin: 0 50px;
    padding-bottom: 80px;
  }

  .container2 {
    padding: 0 140px;
  }

  .header-around {
    display: none;
  }

  .carousel-image img {
    max-width: 370px;
  }

  .featured-arrow {
    width: 22px;
    height: 22px;
  }

  .left-arrow {
    left: 44px;
  }

  .right-arrow {
    right: 44px;
  }
  /* Carousel */

  /* main */

  /* FeatureProduct */

  .category-logo {
    margin-left: -30px;
  }

  .category-logo li {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }

  .FeaturedProduct-name {
    text-align: center;
  }

  .arrow {
    top: 0;
  }

  .arrow.prev {
    left: 10px;
    right: auto;
  }
  /* featured end */

  /* top category */

  .section3 {
    padding: 60px 0;
  }

  .topCategory-name {
    margin-bottom: 34px;
    font-size: 24px;
  }

  .slide img {
    border-radius: 0px 0px 9px 9px;
  }

  .slider-text {
    padding: 16px;
    border-radius: 0px 0px 9px 9px;
  }

  .slider-text h3 {
    font-size: 12px;
  }

  .slider-text p {
    font-size: 10px;
  }

  .slick-slide:not(:nth-last-child(1)) {
    padding-right: 18px;
  }
  /* top category end */

  /* all product */
  .allproduct {
    max-width: 300px;
  }

  .allProduct-main {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .allProduct-name {
    font-size: 24px;
  }

  .allProducts-page {
    font-size: 14px;
  }

  .addstore-flex {
    margin-top: 0;
  }

  .btn-addstore {
    margin-top: 0;
    padding: 7px;
    border-radius: 7px;
  }

  .addstore2 {
    margin-left: auto;
  }

  .btnStore {
    width: 18px;
    height: 18px;
  }

  .item-text h3 {
    font-size: 12px;
  }

  .addstore-price p {
    font-size: 12px;
  }

  .pagination-style {
    padding: 6px;
    border-radius: 7px;
  }

  .pagination .page-number {
    font-size: 14px;
    padding: 4px 8px;
  }

  .arrow-page {
    width: 24px;
    height: 24px;
  }

  .page-arrow {
    margin: 0 8px;
  }
  /* all product end*/

  /* What client says about us */
  .comment-text-container {
    height: 140px;
  }

  .comment {
    padding: 30px;
  }

  .comment-heading {
    font-size: 27px;
  }

  .comment-name {
    font-size: 15px;
  }

  .comment-text {
    font-size: 15px;
  }

  .comment-work {
    font-size: 14px;
  }

  .nav-button {
    padding: 10px;
  }
  /* What client says about us end */
}
