.nav.active {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 67px;
  left: 0;
  width: 50%;
  background-color: #fff;
  border-top: 1px solid rgb(225, 227, 230);
  z-index: 1000;
  box-shadow: 1px 1px 8px black;
  border-radius: 8px;
}

.close-button {
  position: relative;
  width: 100%;
}

.navbar-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
}

.nav.active li {
  padding: 10px 20px;
}

.nav.active li:last-child {
  border-bottom: none;
}

@media screen and (max-width: 786px) {
  .container {
    padding: 0 70px;
  }

  .container2 {
    padding: 0 80px;
  }

  .nav {
    display: none;
  }

  .nav.active {
    display: flex;
  }

  .close-button {
    display: block;
  }

  .headerinfo-text {
    margin-top: 65px;
  }

  .headerinfo-name {
    font-size: 28px;
  }

  .btn-shopping {
    margin-bottom: 90px;
  }

  .btn-shopping p {
    margin-right: 5px;
    font-size: 12px;
    padding: 0 0px;
  }

  .left-arrow {
    left: 30px;
  }

  .right-arrow {
    right: 30px;
  }

  .featured-arrow {
    width: 20px;
    height: 20px;
  }

  .left-arrow,
  .right-arrow {
    padding: 9px;
  }

  .dots {
    display: none;
  }
  /* featured */

  .category-logo li {
    width: calc(100% / 3 - 30px);
  }

  .FeaturedProduct-name {
    font-size: 26px;
  }

  .arrow {
    padding: 8px;
  }

  .arrow.prev {
    left: -45px;
    top: 50%;
  }

  .arrow.next {
    right: -45px;
    top: 50%;
  }

  .featured-arrow {
    width: 16px;
    height: 16px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .header-search {
    display: block;
  }

  .input-search {
    width: 100%;
    max-width: 100%;
  }

  .input-search input {
    margin: none;
    width: 100%;
  }

  .btn-addcart {
    display: none;
  }

  .heart {
    display: none;
  }

  .profile {
    display: none;
  }
  /* featured */

  /* top category */

  .section3 {
    padding: 50px 0;
  }

  .topCategory-name {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .slide img {
    border-radius: 0px 0px 8px 8px;
  }

  .slider-text {
    padding: 13px;
    border-radius: 0px 0px 8px 8px;
  }

  .slider-text h3 {
    font-size: 10px;
  }

  .slider-text p {
    font-size: 9px;
  }

  .slick-slide:not(:nth-last-child(1)) {
    padding-right: 15px;
  }
  /* top category end */

  /* all product */
  .allProduct-main {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .allProduct-name {
    font-size: 22px;
  }

  .allProducts-page {
    font-size: 12px;
  }

  .addstore-flex {
    margin-top: 0;
  }

  .btn-addstore {
    margin-top: 0;
    padding: 6px;
  }

  .addstore2 {
    margin-left: auto;
  }

  .item-text h3 {
    font-size: 11px;
  }

  .addstore-price p {
    font-size: 11px;
  }

  .pagination-style {
    padding: 5px;
    border-radius: 6px;
  }

  .pagination .page-number {
    font-size: 12px;
    padding: 3px 7px;
  }

  .arrow-page {
    width: 22px;
    height: 22px;
  }

  .page-arrow {
    margin: 0 7px;
  }

  /* all product end*/
}

@media screen and (max-width: 520px) {
  .headerinfo-name {
    font-size: 24px;
  }
  .allProduct-main {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .section2 {
    margin: 0 30px;
  }

  .container {
    padding: 0 40px;
  }

  .container2 {
    padding: 0 30px;
  }
  /* header-search */
  .logotip {
    width: 16px;
    height: 16px;
  }

  .input-search input {
    padding: 4px 8px;
  }

  .logo h2 {
    font-size: 16px;
  }
  .headerinfo-text {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
  }

  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerinfo-name {
    text-align: center;
    font-size: 14px;
  }

  .btn-shopping {
    margin-top: 15px;
    margin-bottom: 50px;
    width: 150px;
    padding: 10px 14px;
  }

  .featured-arrow {
    width: 14px;
    height: 14px;
  }

  .header-baground {
    border-radius: 0px 0px 28px 28px;
  }

  .header-main {
    flex-direction: column-reverse;
  }

  .carousel-image img {
    margin-top: 50px;
    max-width: 135px;
  }

  .right-arrow {
    right: 20px;
  }

  .left-arrow {
    left: 20px;
  }

  .left-arrow,
  .right-arrow {
    padding: 5px;
  }

  /* haeder-search */
  /* featured */

  .logo-img {
    max-width: 60px;
  }

  .category-logo {
    margin-left: -20px;
  }

  .category-logo li {
    width: calc(100% / 2 - 20px);
    margin-left: 20px;
  }

  .arrow.prev {
    left: -25px;
    top: 50%;
  }

  .arrow.next {
    right: -25px;
    top: 50%;
  }

  .carousel-image {
    max-width: 250px;
    border-radius: 6px;
    margin: auto;
  }

  .btn-addstore {
    padding: 8px;
  }

  .btnStore {
    fill: black;
    width: 16px;
    height: 16px;
  }

  .FeaturedProduct-name {
    margin-bottom: 25px;
    font-size: 22px;
  }

  /* featured end*/

  /* top category */

  .section3 {
    padding: 40px 0;
  }

  .topCategory-name {
    font-size: 12px;
    margin-bottom: 22px;
  }

  .slide img {
    border-radius: 0px 0px 8px 8px;
  }

  .slider-text {
    padding: 6px;
    border-radius: 0px 0px 8px 8px;
  }

  .slider-text h3 {
    font-size: 6px;
  }

  .slider-text p {
    font-size: 5px;
  }

  .slick-slide:not(:nth-last-child(1)) {
    padding-right: 10px;
  }
  /* top category end */

  /* all product */

  .allProduct-main {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .allproduct {
    padding: 5px;
  }

  .allProduct-name {
    font-size: 20px;
  }

  .allProducts-page {
    font-size: 10px;
  }

  .addstore-flex {
    margin-top: 0;
  }

  .btn-addstore {
    margin-top: 0;
    padding: 6px;
  }

  .addstore2 {
    margin-left: auto;
  }

  .item-text h3 {
    font-size: 10px;
  }

  .addstore-price p {
    font-size: 11px;
  }

  .pagination-style {
    padding: 1px;
    border-radius: 5px;
  }

  .pagination .page-number {
    font-size: 12px;
    padding: 2px 6px;
  }

  .pagination .page-number:active {
    border-radius: 5px;
  }

  .arrow-page {
    width: 20px;
    height: 20px;
  }

  .page-arrow {
    margin: 0 6px;
  }

  /* all-product */
}
